# URL del servicio de impresión local
# Por defecto: http://localhost:5000
# Si cambiaste el host/puerto en print_service/.env, actualiza aquí también
VITE_PRINT_SERVICE_URL=http://localhost:5000

# URL de la API de Laravel
VITE_API_URL=http://192.168.0.51:8000/api

